@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

//sass-lint:disable-all
.strategic-title {
  margin-top: 50px !important;
}

.gitlab-content-container {
  padding-top: 0;
}

.simple-header {
  padding-bottom: 90px;
}

.application-container {
  width: 100%;
  padding: 60px;
  background: linear-gradient(to right,
    $features-gallery-background-gradient-end 0%,
    $features-gallery-background-gradient-middle 40%,
    $features-gallery-background-gradient-begin 100%);
  text-align: center;

  h1 {
    color: $color-white;
  }
}

.search-container {
  width: 100%;
  max-width: 1200px;
  border-radius: $border-radius-large;
  position: relative;
  overflow: hidden;
  background: $color-white;
  box-shadow: $box-shadow;
  margin: auto;
  transform: translateY(-31px);
  z-index: 100;

  input {
    width: 100%;
    padding: $input-padding-large;
    border: 0;

    &:focus {
      outline: 0;
    }
  }

  .search-apps-container-icon {
    color: $search-border-color;
    padding-left: 24px;
    flex-shrink: 0;
  }

  @media all and (max-width: $screen-md-min) {
    max-width: calc(100% - 40px);
  }
}

// sass-lint:disable-all
.selected-suggestion {
  background: $dropdown-hover-color !important;
}
// sass-lint:enable-all

.suggestions {
  z-index: 1;
  margin: 0;
  padding: 0;
  background: $color-white;

  li {
    font-size: 18px;
    list-style: none;
    margin: 10px;
    padding: $input-padding;
    transition: background .2s;
    text-transform: capitalize;

    &:hover {
      background: $light-blue-bg;
      cursor: pointer;
    }
  }

  .container {
    display: block;
  }
}

.hl {
  background: $color-yellow;
}

.categories-header,
.category-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.categories-header {
  padding: 50px 0 0;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}

.application-info {
  padding-top: 30px;
  padding-right: 40px;
  width: 100%;
}

.app-categories-container {
  width: 60%;
  flex-shrink: 0;

  @media all and (max-width: $screen-md-min) {
    width: 100%;
  }

}

.app-categories {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.app-category {
  padding: 30px 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  svg,
  .category-name {
    display: inline-block;
    transition: $transition-primary;
  }

  svg {
    fill: $color-secondary;
    height: 50px;
  }

  .category-name {
    width: 90px;
    padding-left: 6px;
    height: auto;
    vertical-align: middle;
    color: $blog-color-text;
  }

  @media (max-width: 992px) {
    margin-left: 0;

    svg,
    .category-name {
      display: block;
    }

    svg {
      margin-left: 6px;
    }

    .category-name {
      padding: 0;
      width: 88px;
      text-align: center;
    }
  }

  &:hover {
    text-decoration: none;

    svg {
      transform: scale(1.1);
    }

    .category-name {
      transform: translateX(4px);
    }

  }

}

hr {
  border-color: $color-gray-extra-light;
}

.category-applications {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.application {
  flex: auto;
  min-width: 225px;
  max-width: 325px;
  margin: 10px;
  align-self: stretch;
  text-align: center;

  p {
    color: $color-gray;
  }

  .app-image-container {
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .app-image,
  svg {
    max-height: 100%;
    max-width: 90%;
    margin: auto;
  }

  .app-title {
    font-size: 22px;
  }

  .app-content {
    color: $color-gray;
  }

  @media (max-width: $screen-xs-min) {
    min-width: 100%;
    max-width: 100%;
  }
}

.trademark {
  color: $color-gray;
  padding: 80px;
}
