---
layout: feature
title: InnerSource with GitLab
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 InnerSource with GitLab
        %h3#description The power of open source, without giving away your code
        %a.btn.cta-btn.btn-white{ href: "https://about.gitlab.com/free-trial/", target: "_blank" } Try GitLab for Free
  .sub-wrapper
    .container
      .row#overview
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 What is InnerSource?
          %p.overview
            :markdown
              InnerSource is the use of open source best practices and establishment of an open source culture — within your organization.
          %p.overview
            :markdown
              Your organization may develop proprietary software, while opening up your work internally.
      %hr.divider/

      .row#benefit-1
        .col-md-4.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("file-locking-icon-2")
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Benefits of InnerSource
          %p.overview
            :markdown
              Benefits that are typical of open source development can be realized with InnerSource methods that foster collaboration and communication.
          .overview
            :markdown
              - **Faster, with quality:** Unit tests, code coverage, and continuous integration help improve code earlier
              - **Documentation:** Code is better documented, both in comments and less formally in discussions
              - **Code reuse:** Code and architecture are discoverable and available across teams and the organization
              - **Collaboration:** Friction reduced for code review, communication, and contributions in and between teams
              - **Culture:** Silos broken down, happiness improved and with that, better retainment and recruitment
      %hr.divider/

      .row#benefit-2
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Why use GitLab for InnerSource?
          .overview
            :markdown
              - **Prove your ROI:** get the data you need with GitLab Cycle Analytics
              - **Network effects:** having all your users — dev, ops, and beyond — in one application leverages talent across your organization
              - **Smarter feedback:** with GitLab Review Apps you can CI test and share live changes before deploying to production
              - **Security:** 39% of developers say innersourcing has helped identify new security issues
              - **Open core:** no better way to practice inner source, than to use open source software from GitLab, where we believe everyone can contribute
        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("checklist-icon")
      %hr.divider/
