.security-planet-glow
%img.security-planet-ripple-1{ src: "/images/dev-survey-2019/security-planet-ripple.svg" }
%img.security-planet-ripple-2{ src: "/images/dev-survey-2019/security-planet-ripple.svg" }
%img.security-planet{ src: "/images/dev-survey-2019/security-planet.svg" }
%img.security-planet-stars{ src: "/images/dev-survey-2019/security-planet-stars.svg" }